
/* - ++resource++collective.polls/css/collective.polls.css - */
@media screen {
/* https://www.gov.br/portal_css/++resource++collective.polls/css/collective.polls.css?original=1 */
#pollresultholder {
margin-top: 25px;
}
#portletresultholder {
margin-top: 25px;
}
.votePortlet {
position:relative;
}
.poll-spinner {
display:none;
position:absolute;
top:40%;
text-align:center;
left:50%;
}
.bar-row .bar {
max-width: 100%;
}
.bar-row .bar span {
display:none;
}
.poll-toggle {
display: none;
}
.poll-toggle.active {
display: block;
}

}

